%% -*- erlang -*-
{erl_opts, [debug_info]}.
{deps, []}.

{project_plugins, [rebar3_lint, erlfmt]}.

{shell, [{apps, [ssh, ssh_maint_ep]}]}.

{profiles, [
    {test, [
        {erlfmt, [check]},
        {dialyzer, [{warnings, [unmatched_returns, error_handling]}]},
        {xref_warnings, true},
        {xref_checks, [
            undefined_function_calls,
            undefined_functions,
            locals_not_used,
            exports_not_used,
            deprecated_function_calls,
            deprecated_functions
        ]}
    ]}
]}.

{elvis, [
    #{
        dirs => ["src/**"],
        filter => "*.erl",
        ruleset => erl_files
    },
    #{
        dirs => ["."],
        filter => "rebar.config",
        ruleset => rebar_config
    }
]}.
